<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Restcomm Management Console</display-name>
	
	<listener>
		<listener-class>
			org.mobicents.slee.container.management.console.server.ManagementConsoleContextListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>LogService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.log.LogServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>AlarmsService</servlet-name>
    <servlet-class>
      org.mobicents.slee.container.management.console.server.alarms.AlarmsServiceImpl
    </servlet-class>
  </servlet>
	<servlet>
		<servlet-name>ComponentsService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.components.ComponentsServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeployableUnitsService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.deployableunits.DeployableUnitsServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeployableUnitsInstallService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.deployableunits.DeployableUnitsInstallService
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SleeStateService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.sleestate.SleeStateServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServicesService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.services.ServicesServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsageService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.usage.UsageServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RaUsageService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.usage.RaUsageServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.resources.ResourceServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivityService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.activity.ActivityServiceImpl
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SbbEntitiesService</servlet-name>
		<servlet-class>
			org.mobicents.slee.container.management.console.server.sbb.entities.SbbEntitiesServiceImpl
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ComponentsService</servlet-name>
		<url-pattern>/ComponentsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeployableUnitsService</servlet-name>
		<url-pattern>/DeployableUnitsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeployableUnitsInstallService</servlet-name>
		<url-pattern>/org.mobicents.slee.container.management.console.ManagementConsole/DeployableUnitsInstallService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeployableUnitsInstallService</servlet-name>
		<url-pattern>/DeployableUnitsInstallService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SleeStateService</servlet-name>
		<url-pattern>/SleeStateService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServicesService</servlet-name>
		<url-pattern>/ServicesService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsageService</servlet-name>
		<url-pattern>/UsageService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RaUsageService</servlet-name>
		<url-pattern>/RaUsageService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceService</servlet-name>
		<url-pattern>/ResourceService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivityService</servlet-name>
		<url-pattern>/ActivityService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SbbEntitiesService</servlet-name>
		<url-pattern>/SbbEntitiesService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogService</servlet-name>
		<url-pattern>/LogService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>AlarmsService</servlet-name>
    <url-pattern>/AlarmsService</url-pattern>
  </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>