<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE test-description SYSTEM "http://www.opencloud.com/dtd/slee-tck-test-description_1_0.dtd">

<test-description>

 <title>XXX</title>
 <description>XXX</description>
 <executeClass>XXX</executeClass>
 <assertion id="XXX"/>
 <assume-assertion id="XXX"/>
 <property name="serviceDUPath" value="XXX"/>
 <property name="XXX" value="XXX"/>

</test-description>
