__PACKAGE__

__SBB_LOCAL_OBJECT_IMPORTS__

public interface __NAME__SbbLocalObject extends SbbLocalObject__EXT_SUFFIX__, __NAME__ {

	// NOTE: For better consistency, use __NAME__ to define the SBB LocalObject business methods

}