__PACKAGE__

import javax.slee.SbbLocalObject;

public interface __NAME__SbbLocalObject extends SbbLocalObject, __NAME__ {

	// NOTE: For better consistency, use __NAME__ to define the SBB LocalObject business methods

}