<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
          id="jainsleebuilder"
          name="JAIN SLEE Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             callOnEmptyDelta="false"
             hasNature="true"
             isConfigurable="false">
          <run
                class="org.mobicents.eclipslee.servicecreation.builders.JainSleeProjectBuilder">
          </run>
       </builder>
    </extension>
   
   <extension point="org.eclipse.core.resources.natures"
   			id="sleenature"
   			name="JAIN SLEE">
   			<runtime>
   				<run class="org.mobicents.eclipslee.servicecreation.SLEEProject"/>
   			</runtime>
      <builder
            id="org.mobicents.eclipslee.servicecreation.jainsleebuilder">
      </builder>
   </extension>
   
   <extension point="org.eclipse.ui.propertyPages">
       <page objectClass="org.eclipse.jdt.core.IJavaProject"
             name="JAIN SLEE"
             class="org.mobicents.eclipslee.servicecreation.ui.ExternalComponentsPropertyPage"
             id="org.mobicents.eclipslee.servicecreation.ui.ExternalComponentsPropertyPage">
           <filter name="nature"
                   value="org.mobicents.eclipslee.servicecreation.sleenature"/>
       </page>      
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="toc.xml">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="JAIN SLEE"
            id="org.mobicents.eclipslee.servicecreation">
      </category>
     <wizard
     		project="true"
            name="JAIN SLEE Project"
            icon="icons/Project.gif"
            category="org.mobicents.eclipslee.servicecreation"
            class="org.mobicents.eclipslee.servicecreation.wizards.project.ProjectWizard"
            id="org.mobicents.eclipslee.servicecreation.wizards.project.ProjectWizard">
      </wizard>
      <wizard
            name="JAIN SLEE Event"
            icon="icons/Event-icon.gif"
            category="org.mobicents.eclipslee.servicecreation"
            class="org.mobicents.eclipslee.servicecreation.wizards.event.EventWizard"
            id="org.mobicents.eclipslee.servicecreation.wizards.event.EventWizard">
      </wizard>
      <wizard
            icon="icons/ProfileSpec-icon.gif"
            class="org.mobicents.eclipslee.servicecreation.wizards.profile.ProfileWizard"
            category="org.mobicents.eclipslee.servicecreation"
            name="JAIN SLEE Profile Specification"
            id="org.mobicents.eclipslee.servicecreation.wizards.profile.ProfileWizard"/>
      <wizard
            icon="icons/SBB-icon.gif"
            class="org.mobicents.eclipslee.servicecreation.wizards.sbb.SbbWizard"
            category="org.mobicents.eclipslee.servicecreation"
            name="JAIN SLEE Service Building Block (SBB)"
            id="org.mobicents.eclipslee.servicecreation.wizards.profile.SbbWizard"/>
      <wizard
            name="JAIN SLEE Service"
            icon="icons/Service-icon.gif"
            category="org.mobicents.eclipslee.servicecreation"
            class="org.mobicents.eclipslee.servicecreation.wizards.service.ServiceWizard"
            id="org.mobicents.eclipslee.servicecreation.wizards.service.ServiceWizard">
      </wizard>
      <wizard
            name="JAIN SLEE Resource Adaptor Type"
            icon="icons/RAType-icon.gif"
            category="org.mobicents.eclipslee.servicecreation"
            class="org.mobicents.eclipslee.servicecreation.wizards.ratype.RaTypeWizard"
            id="org.mobicents.eclipslee.servicecreation.wizards.ratype.RaTypeWizard">
      </wizard>
      <wizard
            name="JAIN SLEE Resource Adaptor"
            icon="icons/RA-icon.gif"
            category="org.mobicents.eclipslee.servicecreation"
            class="org.mobicents.eclipslee.servicecreation.wizards.ra.ResourceAdaptorWizard"
            id="org.mobicents.eclipslee.servicecreation.wizards.ra.ResourceAdaptorWizard">
      </wizard>
      <wizard
            name="JAIN SLEE Deployable Unit"
            icon="icons/DU-icon.gif"
            category="org.mobicents.eclipslee.servicecreation"
            class="org.mobicents.eclipslee.servicecreation.wizards.deployable.DeployableUnitWizard"
            id="org.mobicents.eclipslee.servicecreation.wizards.deployable.DeployableUnitWizard">
      </wizard>
    </extension>

   <extension
         point="org.eclipse.ui.popupMenus">

	  <!-- Event popup menus -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.Event"
            nameFilter="*Event.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.Event.Menu"
         	path="additions"
         	label="Modify Event">
         	<separator name="FirstGroup"/>
         	<separator name="SecondGroup"/>
         </menu>
         <action
            id="org.mobicents.eclipslee.servicecreation.Event.Menu.Delete"
            label="Delete"
            menubarPath="org.mobicents.eclipslee.servicecreation.Event.Menu/SecondGroup"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteEventAction"
            />
         <action
         	id="org.mobicents.eclipslee.servicecreation.Event.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Event.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditEventIdentityAction"
         	/>               
      </objectContribution>
  
       <!-- Custom dynamic menu for Event XML -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.EventXML"
            nameFilter="*event-jar.xml"
            >
         <action         
         	id="org.mobicents.eclipslee.servicecreation.EventXML.Menu.Events"
         	style="pulldown"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EventXMLSubmenu"
         	menubarPath="additions"
			enablesFor="1"
         	label="Modify Event"
         	/>               
      </objectContribution>
 
      
      <!-- Profile Spec Jar Stuff -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.Profile"
            nameFilter="*ProfileCMP.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu"
         	path="additions"
         	label="Modify Profile Specification">
         	<separator name="FirstGroup"/>
            <separator name="SecondGroup"/>
         </menu>
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.Delete"
         	label="Delete"
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/SecondGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteProfileAction"
         	/>            
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.EditCMPFields"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditProfileCMPAction"
         	/>
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditProfileIdentityAction"
         	/>               
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.Profile"
            nameFilter="*ProfileManagement.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu"
         	path="additions"
         	label="Modify Profile Specification">
         	<separator name="FirstGroup"/>
            <separator name="SecondGroup"/>
         </menu>
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.Delete"
         	label="Delete"
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/SecondGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteProfileAction"
         	/>            
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.EditCMPFields"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditProfileCMPAction"
         	/>
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditProfileIdentityAction"
         	/>               
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.Profile"
            nameFilter="*ProfileManagementImpl.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu"
         	path="additions"
         	label="Modify Profile Specification">
         	<separator name="FirstGroup"/>
            <separator name="SecondGroup"/>
         </menu>
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.Delete"
         	label="Delete"
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/SecondGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteProfileAction"
         	/>            
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.EditCMPFields"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditProfileCMPAction"
         	/>
         <action
         	id="org.mobicents.eclipslee.servicecreation.Profile.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.Profile.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditProfileIdentityAction"
         	/>               
      </objectContribution>
      
      <!-- Custom dynamic menu for Profile Specification XML -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.ProfileXML"
            nameFilter="*profile-spec-jar.xml"
            >
         <action         
         	id="org.mobicents.eclipslee.servicecreation.ProfileXML.Menu.ProfileSpecs"
         	style="pulldown"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.ProfileXMLSubmenu"
         	menubarPath="additions"
			enablesFor="1"
         	label="Modify Profile Specification"
         	/>               
      </objectContribution>

	<!-- SBB -->
     <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.SBB"
            nameFilter="*Sbb.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu"
         	path="additions"
         	label="Modify Service Building Block (SBB)">
         	<separator name="FirstGroup"/>
         	<separator name="SecondGroup"/>
         </menu>
         <action
            id="org.mobicents.eclipslee.servicecreation.SBB.Menu.Delete"
            label="Delete"
            menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/SecondGroup"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteSbbAction"
            />
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEnvEntry"
         	label="Environment Entries..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEnvEntryAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditRABindings"
         	label="Resource Adaptor Bindings..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbResourceAdaptorBindingsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditChildren"
         	label="Children..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbChildAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditProfiles"
         	label="Profiles..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbProfileAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEvents"
         	label="Events..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEventsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditUsage"
         	label="Usage Parameters..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbUsageAction"
         	/>              
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditCMP"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbCMPAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditClasses"
         	label="Classes..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbClassesAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbIdentityAction"
         	/>               
      </objectContribution>
     <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.SBB"
            nameFilter="*SbbUsage.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu"
         	path="additions"
         	label="Modify Service Building Block (SBB)">
         	<separator name="FirstGroup"/>
         	<separator name="SecondGroup"/>
         </menu>
         <action
            id="org.mobicents.eclipslee.servicecreation.SBB.Menu.Delete"
            label="Delete"
            menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/SecondGroup"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteSbbAction"
            />
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEnvEntry"
         	label="Environment Entries..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEnvEntryAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditRABindings"
         	label="Resource Adaptor Bindings..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbResourceAdaptorBindingsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditChildren"
         	label="Children..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbChildAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditProfiles"
         	label="Profiles..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbProfileAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEvents"
         	label="Events..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEventsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditUsage"
         	label="Usage Parameters..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbUsageAction"
         	/>              
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditCMP"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbCMPAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditClasses"
         	label="Classes..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbClassesAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbIdentityAction"
         	/>               
      </objectContribution>     
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.SBB"
            nameFilter="*SbbActivityContextInterface.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu"
         	path="additions"
         	label="Modify Service Building Block (SBB)">
         	<separator name="FirstGroup"/>
         	<separator name="SecondGroup"/>
         </menu>
         <action
            id="org.mobicents.eclipslee.servicecreation.SBB.Menu.Delete"
            label="Delete"
            menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/SecondGroup"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteSbbAction"
            />
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEnvEntry"
         	label="Environment Entries..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEnvEntryAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditRABindings"
         	label="Resource Adaptor Bindings..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbResourceAdaptorBindingsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditChildren"
         	label="Children..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbChildAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditProfiles"
         	label="Profiles..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbProfileAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEvents"
         	label="Events..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEventsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditUsage"
         	label="Usage Parameters..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbUsageAction"
         	/>              
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditCMP"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbCMPAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditClasses"
         	label="Classes..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbClassesAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbIdentityAction"
         	/>               
      </objectContribution>     
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.SBB"
            nameFilter="*SbbLocalObject.java"
            adaptable="true"
            >
         <menu
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu"
         	path="additions"
         	label="Modify Service Building Block (SBB)">
         	<separator name="FirstGroup"/>
         	<separator name="SecondGroup"/>
         </menu>
         <action
            id="org.mobicents.eclipslee.servicecreation.SBB.Menu.Delete"
            label="Delete"
            menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/SecondGroup"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteSbbAction"
            />
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEnvEntry"
         	label="Environment Entries..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEnvEntryAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditRABindings"
         	label="Resource Adaptor Bindings..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbResourceAdaptorBindingsAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditChildren"
         	label="Children..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbChildAction"
         	/>    
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditProfiles"
         	label="Profiles..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbProfileAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditEvents"
         	label="Events..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbEventsAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditUsage"
         	label="Usage Parameters..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbUsageAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditCMP"
         	label="CMP Fields..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbCMPAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditClasses"
         	label="Classes..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbClassesAction"
         	/>               
         <action
         	id="org.mobicents.eclipslee.servicecreation.SBB.Menu.EditIdentity"
         	label="Identity..."
         	menubarPath="org.mobicents.eclipslee.servicecreation.SBB.Menu/FirstGroup"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.EditSbbIdentityAction"
         	/>               
      </objectContribution>  
       <!-- Custom dynamic menu for SBB XML -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.SbbXML"
            nameFilter="*sbb-jar.xml"
            >
         <action         
         	id="org.mobicents.eclipslee.servicecreation.SbbXML.Menu.Sbbs"
         	style="pulldown"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.SbbXMLSubmenu"
         	menubarPath="additions"
			enablesFor="1"
         	label="Modify Service Building Block (SBB)"
         	/>               
      </objectContribution>

      <!-- Custom dynamic menu for Service XML -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.ServiceXML"
            nameFilter="*service.xml"
            >
         <action         
            id="org.mobicents.eclipslee.servicecreation.ServiceXML.Menu.Services"
            style="pulldown"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.ServiceXMLSubmenu"
            menubarPath="additions"
            enablesFor="1"
            label="Modify Service..."
            />               
      </objectContribution>
 
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.PomXML"
            nameFilter="pom.xml"
            >
         <action         
            id="org.mobicents.eclipslee.servicecreation.PomXML.Menu.AddMavenDependency"
            style="push"
            icon="icons/mobicents/mobicents_icon_16x16.png"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.AddMavenDependencyAction"
            menubarPath="additions"
            enablesFor="1"
            label="Add Maven Dependency"
            />               
         <action         
            id="org.mobicents.eclipslee.servicecreation.PomXML.Menu.RemoveMavenDependency"
            style="pulldown"
            icon="icons/mobicents/mobicents_icon_16x16.png"
            class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteMavenDependencySubmenu"
            menubarPath="additions"
            enablesFor="1"
            label="Remove Maven Dependency ..."
            />               
      </objectContribution>
 
      <!-- Custom dynamic menu for Deployable Unit XML -->
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.mobicents.eclipslee.servicecreation.DeployableUnitXML"
            nameFilter="*deployable-unit.xml"
            >
         <action         
         	id="org.mobicents.eclipslee.servicecreation.DeployableUnitXML.Menu.Services"
         	style="pulldown"
         	class="org.mobicents.eclipslee.servicecreation.popup.actions.DeployableUnitXMLSubmenu"
         	menubarPath="additions"
			enablesFor="1"
         	label="Modify Deployable Unit..."
         	/>               
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.mobicents.eclipslee.servicecreation.Deploy"
            objectClass="org.eclipse.core.resources.IProject">
		 <filter name="nature"
                   value="org.mobicents.eclipslee.servicecreation.sleenature"/>
     
         <action
               class="org.mobicents.eclipslee.servicecreation.popup.actions.DeleteModuleSubmenu"
               enablesFor="1"
               icon="icons/mobicents/mobicents_icon_16x16.png"
               id="org.mobicents.eclipslee.servicecreation.Modules.Menu.Delete"
               label="Delete Module"
               menubarPath="additions"
               style="pulldown">
         </action>
         <action
               class="org.mobicents.eclipslee.servicecreation.popup.actions.EditModuleSubmenu"
               enablesFor="1"
               icon="icons/mobicents/mobicents_icon_16x16.png"
               id="org.mobicents.eclipslee.servicecreation.Modules.Menu.Edit"
               label="Edit Module"
               menubarPath="additions"
               style="pulldown">
         </action>
         <action
               class="org.mobicents.eclipslee.servicecreation.popup.actions.AddModuleSubmenu"
               enablesFor="1"
               icon="icons/mobicents/mobicents_icon_16x16.png"
               id="org.mobicents.eclipslee.servicecreation.Modules.Menu.Add"
               label="Add Module"
               menubarPath="additions"
               style="pulldown">
         </action>
         <!-- ammendonca: this needs to be reworked... removing for now
         <action
               class="org.mobicents.eclipslee.servicecreation.popup.actions.DeployAction"
               enablesFor="1"
               icon="icons/Deploy-icon.png"
               id="org.mobicents.eclipslee.servicecreation.Deploy.Menu.Action"
               label="Deploy to Local SLEE Server"
               menubarPath="additions"
               style="push">
         </action>
         -->
      </objectContribution>
      
    </extension>
    
	<extension point="org.eclipse.ui.importWizards">
		<wizard id="org.mobicents.eclipslee.servicecreation.importing.wizard.ImportSLEEComponentsWizard" 
			name="JAIN SLEE Components"
			class="org.mobicents.eclipslee.servicecreation.importing.wizard.ImportSLEEComponentsWizard"
			icon="icons/Project.gif">
			<description>
				Import SBBs and others JAIN SLEE components created externally to the EclipSlee plugin.
			</description>
			<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
	
		
    <extension
       id="org.mobicents.sbb.graph.view.ext"
       point="org.eclipse.ui.views">
       <category
          id="org.mobicents.sbb.graph.view.cat"
          name="JAIN SLEE"/>
       <view
          category="org.mobicents.sbb.graph.view.cat"
          class="org.alcatel.jsce.servicecreation.graph.view.GraphDrawingViewer"
          icon="icons/SBB-viewer-icon.gif"
          id="org.mobicents.servicecreation.graph.view"
          name="JAIN SLEE SBB Graphical View"/>
    </extension>
    
    <extension
          id="org.mobicents.image"
          point="org.eclipse.ui.ide.projectNatureImages">
       <image
             icon="icons/Project-emblem.png"
             id="org.mobicents.eclipslee.servicecreation.image"
             natureId="org.mobicents.eclipslee.servicecreation.sleenature">
       </image>
    </extension>
    
</plugin>
