/*****************************
* SmartTabPanel
*****************************/

.common-SmartTabPanel-Menu {
	background-color: #ccdfff;
}

.common-SmartTabPanel-Menu-Item-unselected {
	padding: 3px;
	background-color: #ccdfff;
	cursor: pointer;
	cursor: hand;
	font-weight: normal;
}

.common-SmartTabPanel-Menu-Item-selected {
	padding: 3px;
	background-color: #8eb8ff;
	cursor: default;
	font-weight: bold;
}

.common-SmartTabPanel-Menu-Link img {
	border: none;
	vertical-align: bottom;
}

.common-SmartTabPanel-Menu-Link a,
.common-SmartTabPanel-Menu-Link a:link ,
.common-SmartTabPanel-Menu-Link a:visited {
	text-decoration: none;
	color: black;
}

.common-SmartTabPanel-Menu-Link a:hover {
	text-decoration: underline;
	color: black;
}

.common-SmartTabPanel {
	background-color: #8eb8ff;
}

.common-SmartTabPanel-Title {
	background-color: #8eb8ff;
	font-weight: bold;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;
}

.common-SmartTabPanel-Content {
	background-color: #b7d2ff;
	border: 1px solid #ccdfff;
}

/*****************************
* LogPanel
*****************************/

.common-LogPanel {
	background-color: #B4E9C5;
	width: 100%;
	height: 100%;
}

.common-LogPanel-area {
	background-color: #D5F3DE;
	border: 1px solid #83DA9E;
	padding: 2px;
	margin: 5px;
	font-family: arial, verdana, sans, helvetica, sans-serif;
	color: black;
	height: 160px;
}

.common-LogPanel-header  {
	background-image: url("../images/log.1.jpg");
	height: 19px;
	width: 100%;
	
	padding-right: 5px;
	padding-top: 3px;
}

.common-LogPanel-header a,
.common-LogPanel-header a:link,
.common-LogPanel-header a:visited {
	text-decoration: none;
	color: white;
}

.common-LogPanel-header a:hover {
	text-decoration: underline;
	color: white;
}

/*****************************
* ToolBar
*****************************/

.common-ToolBar {
	height: 30px;
	margin-bottom: 5px;
	border-spacing: 4px;
}

.common-ToolBar button {
	height: 20px;
	/*
	border: 1px solid #ffe57f;
	background-color: #ffffbb;
	*/
	border: 1px solid #8eb8ff;
	background-color: #ccdfff;
	
	text-decoration: none;
	cursor: default;
	color: #1739A7;
}

.common-ToolBar button:hover {
	background-color: white;
	cursor: pointer;
	cursor: hand;
}

.common-ToolBar a,
.common-ToolBar a:link,
.common-ToolBar a:visited {
	text-decoration: none;
}

.common-ToolBar a:hover {
	text-decoration: underline;
}

.common-ToolBar-separator {
	width: 4px;
}

/*****************************
* BrowseContainer
*****************************/

.common-BrowseContainer {
	width: 100%;
}

.common-BrowseContainer-title {
	font-weight: bold;
	font-size: 14px;
	margin: 5px;
	color: #1739A7;
	/*border-bottom: 1px solid #1739A7;*/
}

.common-BrowseContainer-links {
	border-spacing: 5px;
}

.common-BrowseContainer-BrowseLink {
	color: #1739A7;
}
	
.common-BrowseContainer-BrowseLink a,
.common-BrowseContainer-BrowseLink a:link,
.common-BrowseContainer-BrowseLink a:visited,
.common-BrowseContainer-BrowseLink a:hover {
	color: #1739A7;
	text-decoration: underline;
}


.common-BrowseContainer-BrowseLink-last a,
.common-BrowseContainer-BrowseLink-last a:link,
.common-BrowseContainer-BrowseLink-last a:visited,
.common-BrowseContainer-BrowseLink-last a:hover {
	color: #1739A7;
	text-decoration: none;
	cursor: default;
}

/*****************************
* ListPanel
*****************************/

.common-ListPanel {
	background-color: white;
	border: 1px solid #ffe57f;
	border-spacing: 0;
	width: 100%;
}

.common-ListPanel-header,
.common-ListPanel-header td {
	background-color: #ffffbb;
	color: #1739A7;
	/*align: top;
	/*font-weight: bold;*/
}

.common-ListPanel-cell {

}

.common-ListPanel-cell-even {
	background-color: #EEEEEE;
}

.common-ListPanel-cell-notfirst {
	/*border-top: 1px solid #DFDFDF;*/
}

/*****************************
* PropertiesPanel
*****************************/

.common-PropertiesPanel {
	background-color: white;
	border: 1px solid #ffe57f;
	border-spacing: 0;
	width: 100%;
}

.common-PropertiesPanel-even {
	background-color: #EEEEEE;	
}

.common-PropertiesPanel-notfirst {
	/*border-top: 1px solid #DFDFDF;*/
}

.common-PropertiesPanel-name,
.common-PropertiesPanel-name div {
	/*font-weight: bold;*/
	color: #1739A7;
}

.common-PropertiesPanel-value,
.common-PropertiesPanel-value div {
}

/*****************************
* Title
*****************************/

.common-Title-1 {
}

.common-Title-2 {
	font-weight: bold;
	color: #1739A7;
	padding-top: 10px;
}

.common-Title-3 {
}

.common-Title-4 {
}
